In [55]:
import sqlite3

In [56]:
conn = sqlite3.connect('data/raw_pvs.db') #port and vessels

In [57]:
cursor = conn.cursor()

In [58]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS weather_data (
        date TIMESTAMP,
        temperature_2m FLOAT,
        relative_humidity_2m FLOAT,
        dew_point_2m FLOAT,
        precipitation_probability FLOAT,
        precipitation FLOAT,
        rain FLOAT,
        pressure_msl FLOAT,
        surface_pressure FLOAT,
        visibility FLOAT,
        evapotranspiration FLOAT,
        wind_speed_80m FLOAT,
        wind_speed_120m FLOAT,
        wind_direction_80m FLOAT,
        wind_direction_120m FLOAT
    )
""")

In [59]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS scheduled (
    Date TIMESTAMP,
    Hour VARCHAR,
    ETA TIMESTAMP,
    Place VARCHAR,
    Ship VARCHAR,
    IMO VARCHAR,
    Cargo VARCHAR,
    Event VARCHAR,
    Voyage VARCHAR,
    DUV VARCHAR,
    Flag VARCHAR,
    UPDATED_AT TIMESTAMP
);
""")

In [60]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS foreseen_cargo (
    Ship VARCHAR,
    Flag VARCHAR,
    Draft VARCHAR,
    Nav VARCHAR,
    Arrival TIMESTAMP,
    Notice VARCHAR,
    Office VARCHAR,
    Operation VARCHAR,
    Goods VARCHAR,
    Weight VARCHAR,
    Voyage VARCHAR,
    DUV VARCHAR,
    Terminal VARCHAR,
    IMO VARCHAR,
    UPDATED_AT TIMESTAMP
);
""")

In [61]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS foreseen_cruise (
    Ship VARCHAR,
    Flag VARCHAR,
    Draft VARCHAR,
    Nav VARCHAR,
    Arrival TIMESTAMP,
    Notice VARCHAR,
    Office VARCHAR,
    Voyage VARCHAR,
    DUV VARCHAR,
    P VARCHAR,
    Terminal VARCHAR,
    IMO VARCHAR,
    UPDATED_AT TIMESTAMP
);
""")

In [62]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS berthage_ships (
    Ship VARCHAR,
    Flag VARCHAR,
    Draft VARCHAR,
    Nav VARCHAR,
    Arrival TIMESTAMP,
    Notice VARCHAR,
    Office VARCHAR,
    Operat VARCHAR,
    Type VARCHAR,
    Weight VARCHAR,
    Voyage VARCHAR,
    P VARCHAR,
    Terminal VARCHAR,
    UPDATED_AT TIMESTAMP
);
""")

In [63]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS berthed_ships (
    Place VARCHAR,
    Ship VARCHAR,
    Cargo VARCHAR,
    Unload INTEGER,
    Load INTEGER,
    Flag VARCHAR,
    IMO VARCHAR,
    UPDATED_AT TIMESTAMP
);
""")

In [64]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS port_berthed_ships (
    ship_name TEXT,
    mmsi INTEGER,
    imo INTEGER,
    arrived TEXT,
    DWT INTEGER,
    GRT INTEGER,
    Built INTEGER,
    Size INTEGER,
    DWT_Unit TEXT,
    GRT_Unit TEXT
);
""")

In [65]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS port_calls (
    ship_name TEXT,
    mmsi INTEGER,
    imo INTEGER,
    status TEXT,
    event TEXT,  -- Pode ser DATETIME se quiser manipular como data
    port TEXT
);
""")

In [66]:
cursor.execute('''
CREATE TABLE  IF NOT EXISTS weather_data (
    date DATETIME,
    temperature_2m REAL,
    relative_humidity_2m REAL,
    dew_point_2m REAL,
    precipitation_probability REAL,
    precipitation REAL,
    rain REAL,
    pressure_msl REAL,
    surface_pressure REAL,
    visibility REAL,
    evapotranspiration REAL,
    wind_speed_80m REAL,
    wind_speed_120m REAL,
    wind_direction_80m REAL,
    wind_direction_120m REAL
);
''')

In [67]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS dim_ship (
    ship_id INTEGER PRIMARY KEY AUTOINCREMENT,
    imo TEXT UNIQUE,
    mmsi TEXT UNIQUE,
    ship_name TEXT
);
''')

In [68]:
conn.commit()
conn.close()