In [29]:
import sqlite3

In [30]:
conn = sqlite3.connect('data/raw_pvs.db') #port and vessels

In [31]:
cursor = conn.cursor()

In [32]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS weather_data (
        date TIMESTAMP,
        temperature_2m FLOAT,
        relative_humidity_2m FLOAT,
        dew_point_2m FLOAT,
        precipitation_probability FLOAT,
        precipitation FLOAT,
        rain FLOAT,
        pressure_msl FLOAT,
        surface_pressure FLOAT,
        visibility FLOAT,
        evapotranspiration FLOAT,
        wind_speed_80m FLOAT,
        wind_speed_120m FLOAT,
        wind_direction_80m FLOAT,
        wind_direction_120m FLOAT
    )
""")

In [33]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS scheduled (
    Date TIMESTAMP,
    Hour VARCHAR,
    ETA TIMESTAMP,
    Place VARCHAR,
    Ship VARCHAR,
    IMO VARCHAR,
    Cargo VARCHAR,
    Event VARCHAR,
    Voyage VARCHAR,
    DUV VARCHAR,
    Flag VARCHAR,
    UPDATED_AT TIMESTAMP
);
""")

In [34]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS foreseen_cargo (
    Ship VARCHAR,
    Flag VARCHAR,
    Draft VARCHAR,
    Nav VARCHAR,
    Arrival TIMESTAMP,
    Notice VARCHAR,
    Office VARCHAR,
    Operation VARCHAR,
    Goods VARCHAR,
    Weight VARCHAR,
    Voyage VARCHAR,
    DUV VARCHAR,
    Terminal VARCHAR,
    IMO VARCHAR,
    UPDATED_AT TIMESTAMP
);
""")

In [35]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS foreseen_cruise (
    Ship VARCHAR,
    Flag VARCHAR,
    Draft VARCHAR,
    Nav VARCHAR,
    Arrival TIMESTAMP,
    Notice VARCHAR,
    Office VARCHAR,
    Voyage VARCHAR,
    DUV VARCHAR,
    P VARCHAR,
    Terminal VARCHAR,
    IMO VARCHAR,
    UPDATED_AT TIMESTAMP
);
""")

In [36]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS berthage_ships (
    Ship VARCHAR,
    Flag VARCHAR,
    Draft VARCHAR,
    Nav VARCHAR,
    Arrival TIMESTAMP,
    Notice VARCHAR,
    Office VARCHAR,
    Operat VARCHAR,
    Type VARCHAR,
    Weight VARCHAR,
    Voyage VARCHAR,
    P VARCHAR,
    Terminal VARCHAR,
    UPDATED_AT TIMESTAMP
);
""")

In [37]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS berthed_ships (
    Place VARCHAR,
    Ship VARCHAR,
    Cargo VARCHAR,
    Unload INTEGER,
    Load INTEGER,
    Flag VARCHAR,
    IMO VARCHAR,
    UPDATED_AT TIMESTAMP
);
""")

In [38]:
conn.commit()
conn.close()